@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.projects-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.projects-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 250px;
}

.projects-card {
    padding: 10px;
    box-shadow: var(--card-shadow);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
}

.projects-card * {
    font-family: var(--card-font);
}

.project-title {
    align-self: center;
}

.project-link {
    text-decoration: none;
    transition: 1s all
}

.project-link:hover {
    color: var(--color-text-secondary);
}

.project-description {
    text-indent: 4ch;
    width: 100%;
    text-align: justify;
}

.project-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.project-links a {
    text-decoration: none;
    transition: 1s all;
}

.project-links a:hover {
    text-decoration: none;
    color: var(--color-text-secondary);

}

@media only screen and (max-width: 611px) {
    .projects-card-container {
        max-width: 80vw;
        gap: 10px;
    }
}