@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.projects-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.projects-card {
    max-width: 20vw;
    padding: 10px;
    box-shadow: var(--card-shadow);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projects-card * {
    font-family: var(--card-font);
}

.project-title {
    align-self: center;
}

.project-link {
    text-decoration: none;
    transition: 1s all;
}

.project-link:hover {
    color: var(--color-10-secondary);
}

.project-description {
    text-indent: 4ch;
    width: 100%;
    text-align: justify;
}

.project-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.project-links a {
    text-decoration: none;
    transition: 1s all;
}

.project-links a:hover {
    text-decoration: none;
    color: var(--color-10-secondary);

}

@media only screen and (max-width:790px) {
    .projects-card {
        max-width: 30vw;
    }
}

@media only screen and (max-width:610px) {
    .projects-card {
        max-width: 35vw;
    }
}

@media only screen and (max-width:596px) {
    .projects-card {
        max-width: 40vw;
    }
}

@media only screen and (max-width:396px) {
    .projects-card {
        max-width: 60vw;
    }
}

@media only screen and (max-width:336px) {
    .projects-card {
        max-width: 80vw;
    }
}