.socials-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.socials-list a {
    text-decoration: none;
    color: var(--color-text-primary);
    transition: 0.5s all;
}

.socials-list a:hover {
    color: var(--color-text-secondary);
}

ion-icon:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}