#header {
    background-color: var(--color-background-primary);
    padding: 10px;
    top: 0;
    position: sticky;
    box-shadow: 0px 2px 50px 2px var(--color-divider);
    z-index: 1;
}

#navlist {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-link {
    text-decoration: none;
    font-size: small;
    transition: 1s all;
}

.nav-link:hover {
    text-decoration: none;
    color: var(--color-text-secondary);
}

.nav-item:first-child {
    font-weight: 800;
    margin-right: auto;
}

.nav-item:first-child a {
    font-size: large;
}

.toggle-color-theme {
    cursor: pointer;
}

#hamburger-menu-open,
#hamburger-menu-close {
    text-decoration: none;
}

@media only screen and (max-width: 412px) {
    #header {
        height: 21px;
        overflow-y: hidden;
    }

    #navlist {
        flex-direction: column;
    }

    .nav-item:first-child {
        margin-right: initial;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-item {
        display: block;
    }
}