footer {
    background-color: var(--color-30-primary);
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--color-10-primary);
}