footer {
    background-color: var(--color-background-primary);
    box-shadow: 0px 10px 10px 10px var(--color-divider);
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}