.company-title {
    align-self: center;
}

.company-link {
    text-decoration: none;
    transition: 1s all;
}

.company-link:hover {
    color: var(--color-10-secondary);
}

.work-experience-card {
    box-shadow: var(--card-shadow);
    display: inline-flex;
    padding: var(--card-padding);
    flex-direction: column;
    border-radius: var(--card-border-radius);
    max-width: 35vw;
    justify-content: space-evenly;
    gap: 10px;
}

.work-experience-card * {
    font-family: var(--card-font);
}

.company-logo {
    width: 20vw;
    max-width: 150px;
    height: auto;
    align-self: center;
    opacity: 0.6;
}

.card-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.other-data {
    display: grid;
    align-items: center;
    gap: 10px;
}

.card-key,
.card-value {
    display: inline;
    line-height: 20px;
}

.card-key {
    grid-column-start: 1;
    grid-column-end: 2;
}

.card-value {
    grid-column-start: 3;
    grid-column-end: 4;
}

.roles-and-responsibilites {
    list-style: none;
}

.roles-and-responsibilites>li {
    margin: 5px 0;
}

/* @media only screen and (max-width:396px) {


    .other-data {
        gap: 5px;
    }
} */