.about-me-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-card {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: center;
    padding: var(--card-padding);
    gap: 10px;
    background: rgba(0, 0, 0, 0.055);
    border-radius: 16px;
    box-shadow: 0 0px 10px var(--color-text-secondary);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid var(--color-text-secondary);
}

.about-me-card * {
    font-family: var(--card-font);
}

.about-me-section-1 {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
}

.about-me-img {
    width: 100px;
    height: auto;
    opacity: 0.9;
}

.skills,
.socials {
    width: 100%;
}

.skills-title {
    text-align: center;
    margin: 10px 0;
}

.socials-title {
    text-align: center;
    margin: 10px 0;
}

.about-me-section-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about-me-intro {
    text-indent: 4ch;
    line-height: 25px;
    text-align: justify;
}

.resume {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
    padding: 10px 0;
}

.resume a {
    text-decoration: none;
    transition: 1s all;
}

.resume a:hover {
    color: var(--color-text-secondary);
}

#download-resume {
    cursor: pointer;
}

.about-me-intro b {
    color: var(--color-text-primary);
}

@media only screen and (max-width:848px) {
    .about-me-info {
        gap: 10px;
    }
}

@media only screen and (max-width:614px) {
    .about-me-card {
        flex-direction: column;
        gap: 10px;
    }

    .about-me-section-1,
    .about-me-section-2 {
        width: 100%;
    }
}

@media only screen and (max-width:520px) {
    .about-me-card {
        gap: 5px;
    }
}